<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Email Template</title>
</head>

<body>
  <h1>Dear {{ title }}!</h1>
  <p>This is a sample email template.</p>
  <p>You can use Handlebars expressions to dynamically insert data into the template.</p>
  <p>this is the message{{message}} </p>
</body>

</html>