<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Forget the password!</title>
</head>

<body>
  <h3>Dear {{ name }},</h3>
  <p>There was a request to change your password!</p>
  <p>If you don't make this request then please ignore this email</p>
  <p>Otherwise, Please click this link to change your password</p>
  <a href='{{ frontBaseUrl }}/password-reset/{{ resetToken }}'>Forget password link</a>
</body>
</html>