<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Project unassigned!</title>
</head>

<body>
 <p>Dear {{ name }},</p>

  <p>You have been unassigned from {{ project }} project</p>

  <p>To view your projects, please click on the following link:</p>
  <a href="http://localhost:5173/projects"></a>

  <p>Thank you for your hard work!</p>
  <p>Sincerely,</p>
  <p>The {{ org }} team</p>
</body>

</html>